
{% extends 'index.html' %}
{% block body %}
    <div class="card w-50 m-3">
        <h5 class="card-header">Booking</h5>
        <div class="card-body ml-2">
            <h5 class="card-title">Information:</h5>
            <p class="card-text ">
                User: {{booking.user.username}}
                <br>
                Created at {{booking.created_at}}
                <br>
                Booked from {{booking.start_time}} to {{booking.end_time}}
            </p>
        </div>
    </div>

{% endblock body %}