{% extends 'index.html' %}
{% block body %}
    <div class="card p-2 m-2" style="width: 25rem;">
        <h2 class="card-title">{{hotel.name}}</h2>
        <div style="margin: 20px;">
            <div class="card-subtitle mb-2 text-body-secondary">Country: {{hotel.country}}</div>

            <div class="card-subtitle mb-2 text-body-secondary">City: {{hotel.city}}</div>

            <div class="card-subtitle mb-2 text-body-secondary">Info:</div>
            <div style="width: 300px; margin: 10px; text-align:justify;" class="card-text">{{hotel.info}}</div>
        </div>
    </div>
    <div class="p-2 m-2 pb-5">
        <h3>Here is a list of avaliable rooms</h3>
        <ul style="margin: 10px;" class="list-group">
            <br>
            {%for room in hotel.rooms.all%}
                <a href="/booking/{{room.id}}" style="text-decoration: inherit; color: black;">
                    <li style="border-style: groove; width: 200px; font-size: large;" class="list-group-item">
                        Room number {{room.number}}
                        <br>
                        <div style="font-size: smaller; margin-left: 10px">
                            Capacity: {{room.capacity}}
                            <br>
                            Price: {{room.price}} $
                            <br>
                            Description: {{room.description}}
                        </div>
                    </li>
                    <br>
                </a>
            {%endfor%}
        </ul>
    </div>
{% endblock body %}